In [1]:
# toy data for streamlit

In [2]:
import pandas as pd
import numpy as np

In [10]:
map_data = pd.DataFrame(
    np.random.randn(100000, 2) / [50, 50] + [37.76, -122.4],
    columns=['lat', 'lon'])

map_data["gender"] =  np.random.choice(a = ["Male","Female"], size = len(map_data))
map_data

In [11]:
map_data

             lat         lon  gender
0      37.805836 -122.368849  Female
1      37.769828 -122.373846  Female
2      37.797988 -122.388447    Male
3      37.756441 -122.390373    Male
4      37.764270 -122.399296    Male
...          ...         ...     ...
99995  37.713648 -122.414968  Female
99996  37.745441 -122.415678  Female
99997  37.784712 -122.393276    Male
99998  37.775888 -122.384200    Male
99999  37.757919 -122.399617  Female

[100000 rows x 3 columns]